.tabela{
    border:1px solid #EEE;
    padding:0;
    margin:auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.tabela td{
    width:50px;
    height:50px;
    display: table-cell;
    white-space: nowrap;
    margin:1px;
    font-size:35px;
    text-align: center;
    position: relative;
    z-index:1;
}

.tabela td{
    white-space: nowrap;
    margin: 1px;
    font-size: 35px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.tabela td.hover{
    cursor:url(../img/pencil.png), auto;
    color:#5cb85c;
}

.tabela td.checked{
    color:#5cb85c;
}

.mark{
    background-color: transparent;
    display:block;
    content:'';
    top:10px;
    width:50px;
    border-top:3px solid #5cb85c;
    position: absolute;
    z-index: 3;
}

.mark:hover{
    cursor:url(../img/pencil.png), auto;
}

.tabela-container{
    position:relative;
    display: table;
    margin: auto;
}

.pencil-hover{
    cursor:url(../img/pencil.png), auto;
}

.tempo{
    font-size:20px;
    left:20px;
    position: relative;
}
